@keyframes moving {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(1.875rem);
  }
  100% {
    transform: translateY(-1.875rem);
  }
}

.scroll-box {
  animation: moving 1s infinite ease-in-out alternate;
}

/* ---- GSAP Animation Support ---- */

.menue-items {
  animation: fadeInUp 0.3s ease-in;
}
.gsap-word {
  display: inline-block;
}

.gsap-line {
  display: block;
}

.card {
  cursor: pointer;
}

.and-word {
  display: inline-block;
}
