@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--main--body--background--color);
  overflow-x: hidden;
  position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* font-family: "Plus Jakarta Sans", sans-serif;
"Syne", sans-serif;
 */
:root {
  scroll-behavior: smooth;
  --light-yellow: #fefbf2;
  --brown-primary: #6B4423;
  --brown-dark: #4A3728;
  --black--background: #252323;
  --main--text: #0d0d0d;
  --titels--text: #1a1a1a;
  --long--text: #191919;
  --main--body--background--color: #f5f5f5;
  --white-main--text: #f5f5f5;
}