@media (max-width: 480px) {
  .center-content {
    align-items: center;
    text-align: center;
  }

  .main-about-content {
    padding: 0;
  }

  .about-text {
    font-weight: 500;
  }

  .about-text,
  .about-title {
    left: 0rem;
  }

  .pixle-image-container {
    display: none;
  }

  .about-section .advantages-content {
    width: 98%;
  }

  .advantages-content .content-title {
    padding: 0;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    color: black;
    z-index: 8;
  }

  .advantages-content:hover .content-title p {
    left: 0;
    color: var(--white-main--text);
  }

  .hover-word-container {
    display: none;
  }

  .inner-advantges-content {
    background-color: var(--black--background);
  }

  .inner-advantges-content ul li {
    opacity: 1;
  }

  .tools-section .general-tools-container {
    flex-direction: column;
  }

  .inner-tool-container {
    width: 100%;
  }

  .explain-inner-content {
    width: 100%;
  }

  .inner-content-body {
    padding: 1rem;
    text-wrap: nowrap;
  }

  .inner-content-body .last-phrase .icons {
    margin-right: 1rem;
  }

  .inner-content-body .icons {
    margin-right: 0rem;
  }

  .tools-section {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}





@media (481px <=width <=920px) {

  .tools-section .general-tools-container {
    flex-direction: column;
  }

  .inner-tool-container {
    width: 100%;
  }
}

@media (width <430px) {
  .explain-container {
    padding: 6rem 0.5rem;
  }
}

@media (768px <=width <=915px) {
  .explain-inner-content {
    width: 100%;
  }
}