header {
  position: fixed;
  top: 1rem;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(3rem, 5vw, 4rem);
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 2.5rem;
  z-index: 100;
  display: none;
}
header nav {
  width: 100%;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: var(--titels--text);
  font-family: "Inter", "Plus Jakarta Sans", sans-serif, "Syne";
}

main {
  width: 100%;
  min-height: 100dvh;
  height: auto;
}
section {
  padding: 0 2rem;
}

svg {
  width: clamp(6rem, 7vw, 7rem);
}

h1 {
  font-size: clamp(1.8rem, 6vw, 3rem);
  text-align: center;
}

.hidden {
  display: none;
}
.title-hidden {
  opacity: 0;
}
.rotate {
  transform: rotate(180deg);
}
.accounts {
  position: absolute;
  width: fit-content;
  height: fit-content;
  /* width: fit-content; */
  /* height: fit-content; */
  display: flex;
  align-items: center;
  background-color: #000000;
  top: 1em;
  right: 1rem;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6rem;
  height: fit-content;
  width: fit-content;
  font-family: "Inter", "Plus Jakarta Sans", sans-serif, "Syne";
  gap: calc(1.2rem);
  text-align: center;
  font-weight: 500;
}

.hock-container img {
  width: clamp(3rem, 10vw, 3.5rem);
}
.hock-title {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: var(--titels--text);
}
.hock-text {
  color: rgb(86, 84, 84);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  gap: 1rem;
  width: 50%;
}
.links a {
  text-decoration: none;
  color: var(--main--body--background--color);
  backdrop-filter: blur(20px);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.email-link {
  background-color: var(--black--background);
}
.links .chat-link {
  color: #000000;
  border: 0.1rem solid gray;
}
.wellcome-text-container {
  margin: 1rem;
}
.wellcome-text {
  font-size: clamp(1.1rem, 3vw, 2rem);
}

.main-scroll-box {
  position: relative;
  bottom: -15rem;
  width: 100%;
  height: fit-content;
  min-height: 10%;
  display: flex;
  justify-content: center;
}

.scroll-box {
  font-family: "Inter", "Plus Jakarta Sans", sans-serif, "Syne", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(0.5rem);
}

.arrow-down-icon {
  width: 1.5rem;
}

.about-section {
  width: 100%;
  min-height: 100dvh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(3rem);

  margin-bottom: 3.5rem;
}

.about-section {
  padding: 0 0;
}

.about-section h2 {
  font-size: clamp(2rem, 5vw, 4rem);
}

.about-section .about-title {
  color: var(--titels--text);
  font-size: clamp(1.6rem, 5vw, 3.8rem);
  text-align: start;
  text-align: center;
}

.about-text {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: "Inter";
  color: var(--long--text);
}

.center-content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(2rem);
}

.last-gsap-line {
  color: rgb(120, 120, 120);
}

.h2-conatainer {
  border-right: 0.1rem solid var(--black--background);
  border-left: 0.1rem solid var(--black--background);
  padding: 0 0.5rem;
  text-align: center;
}

.h2-conatainer h2 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-family: "Syne", sans-serif, "Inter", "Plus Jakarta Sans";
}

.general-words-container {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}

.words-container {
  width: 100%;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: clamp(2rem, 3.5vw, 3.1rem);
  overflow: hidden;
}

.words-container p {
  width: fit-content;
  height: fit-content;
  font-family: "Inter", "Plus Jakarta Sans", "Syne", sans-serif;
  font-weight: 700;
  text-wrap: nowrap;
}

.words-container span {
  color: rgb(108, 108, 108);
}

.advantages-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  font-family: "Inter", "Plus Jakarta Sans", "Syne", sans-serif;
  gap: 2rem;
}

.advantages-content {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  min-height: 6rem;
  border: 0.1rem dashed rgb(0, 0, 0);
  letter-spacing: 0.3rem;
  color: var(--main--body--background--color);
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
}

.advantages-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: var(--black--background);
  transition: all 0.2s;
  z-index: 5;
}

.advantages-content:hover:before {
  width: 100%;
}

.advantages-content:hover .arrow-icon {
  fill: white;
}

.advantages-content:hover .hover-word-container {
  display: none;
}

.advantages-content:hover p {
  left: 2rem;
}

.advantages-content .hover-word-container {
  position: absolute;
  color: black;
  text-align: center;
  width: 100%;
  z-index: 7;
}

.content-title {
  position: absolute;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  text-wrap: wrap;
  z-index: 6;
}

.content-title p {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.arrow-container {
  position: absolute;
  right: 1rem;
  top: 0;
  display: flex;
  align-items: center;
  height: fit-content;
  width: clamp(1.7rem, 2.7vw, 3rem);
  z-index: 6;
  transition: all 0.2s ease-in-out;
}

.arrow-icon {
  width: clamp(4rem, 5vw, 5rem);
  height: clamp(4rem, 5vw, 5rem);
  transition: all 0.3s;
}

.inner-advantges-content {
  padding: 0 2rem;
  z-index: 5;
  font-size: clamp(1rem, 5vw, 1.1rem);
  letter-spacing: normal;
  color: rgb(164, 164, 164);
  line-height: 2rem;
  font-family: "Plus Jakarta Sans", "Inter", sans-serif, "Syne";
  height: fit-content;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease,
    padding 0.3s ease;
}

.inner-advantges-content.inner-open {
  padding: 1rem 2rem;
  max-height: 22rem;
  opacity: 1;
  visibility: visible;
}

.inner-advantges-content ul li {
  opacity: 0;
}
.advantages-content:hover ul li {
  opacity: 1;
}

.inner-advantges-content.inner-open:hover ul li {
  opacity: 1;
}

.inner-advantges-content ul li::marker {
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: gold;
}

.big-title-section {
  width: 100%;
  height: fit-content;
}
.big-title h1 {
  letter-spacing: 1rem;
  font-size: clamp(4rem, 15vw, 4.5rem);
}
.big-title {
  filter: drop-shadow(0 0 10px rgba(10, 10, 10, 0.3))
    drop-shadow(0 0 20px rgba(10, 10, 10, 0.7));
}
